%h1 Recent Questions
- @recent_questions.each do |question|
  %h2= link_to question.title, question
  %p= question.description
  %p
    Created On: #{formatted_date(question.created_at)}
  %hr

%h1 Listing all questions!
= link_to "Create New Question", new_question_path
- @questions.each do |question|
  %h2= link_to question.title, question
  %p= question.description
  %p
    Created On: #{formatted_date(question.created_at)}
  %hr

