%h1= @question.title
%p= @question.description
%p= formatted_date(@question.created_at)
%p

- if @question.image.present?
  = image_tag @question.image.url(:medium)

- if @favorite
  %p= button_to "Unfavorite", question_favorite_path(@question, @favorite), method: :delete, class: "btn btn-danger"
- else
  %p= button_to "Favorite", question_favorites_path(@question), method: :post, class: "btn btn-primary"
- if @question.favorited_users.present?
  Favorited Users:
  = @question.favorited_users.map(&:full_name).join(", ")


%br/
- if @question.categories.present?
  Categories (#{@question.categories.count}):
  = @question.categories.map(&:title).join(", ")


- if @vote.persisted? && @vote.is_up?
  = button_to "Undo", [@question, @vote], method: :delete, class: "btn btn-danger"
- else
  = form_for [@question, @vote] do |f|
    = f.hidden_field :is_up, value: true
    = f.submit "Vote Up", class: "btn btn-default"

%br/
- if @vote.persisted? && @vote.is_up?
  = form_for [@question, @vote] do |f|
    = f.hidden_field :is_up, value: false
    = f.submit "Vote Down", class: "btn btn-default"
- else
  = form_for [@question, @vote] do |f|
    = f.hidden_field :is_up, value: false
    = f.submit "Vote Down", class: "btn btn-default"

%br/



%br/
- if can? :edit, @question
  = link_to "Edit", edit_question_path(@question), class: "btn btn-default"
- if can? :destroy, @question
  = button_to "Delete", @question, method: :delete,                   
    data: {confirm: "Are you sure you want to delete this question?"},
    class: "btn btn-danger" 
%br/
= link_to "All Questions", questions_path




#answer-form= render "answers/form"


%hr
.answers= render @answers
/ - @answers.each do |answer|
/   = render "/answers/answer", answer: answer

%input.start{type: "button", value: "Click Me"}
%br
.success{style: "visibility: hidden"}
  %h1{style: "color: red"} SUCCESS!!!!!!!!!!!!!!

= label "enter_box-label", "Magical Box:"
= text_field_tag "enter_box", nil, class: "my_box"
%ul.enterbox

= label "box2-label", "Magical Box 2:"
= text_field_tag "box2", nil 
%span.box2-side

= form_tag "javascript:void(0);"
= text_field_tag "first_name", nil, :placeholder => "First Name"
= text_field_tag "last_name", nil, :placeholder => "Last Name"
= text_field_tag "email", nil, :placeholder => "Email"
= submit_tag "Save", class: "submit-box3"
.box3