<!DOCTYPE html>
<html>
<head>
  <title>Temp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid col-md-10 col-md-offset-1">
	<% if flash[:notice] || flash[:error] %>
	<h1><%= flash[:notice] || flash[:error] %></h1>
	<% end %>
<%= yield %>
</div>
</body>
</html>
